*~
*.v
*.vh
*.out
*.vh
*.log
*.in
*.com
*.vstf
*.dat
*.pb
*.wdb
*.dir
*.jou
Makefile.dep
dep.rb
work/
transcript
vish_stacktrace.vstf
vivado/results
vivado/reports
zedboard
doc/build/*
doc/!.gitkeep
doc/__pycache__
doc/*.pdf
